doctype html
//-html(lang="en")
html(lang="fa" dir="rtl")
  head
    meta(charset="utf-8")
    title title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(itemprop="name" content="")
    meta(itemprop="description" content="")
    link(rel="manifest" href="site.webmanifest")
    link(rel="apple-touch-icon" href="icon.png")
    //- Place favicon.ico in the root directory
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    meta(name="theme-color" content="#fafafa")
  
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v20.1.0/dist/font-face.css")
    link(rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")
  body(onload="pageLoad();")
    //--------------------------------------------------------------------------
    //-
      script
        window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')
    script(src="js/script.js")
